.home-page-pullution {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  width: 100%;
  height: auto;
  background-color: #6395b7;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

.page-container-pollution {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 120vh;
  background-color: #6395b7;
  background-size: cover;
  background-position: center;
  margin-top: 290PX;
  border-radius: 10px;
}

.waterP-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(12, 68, 118);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 10px;
}

.house3D-container {
  margin-top: 290px;
  width: 150vh; 
  height: 100vh; 
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 20px;
}

.text-container{
  display: flexbox;
  align-items: center; 
  justify-content: center; 
  text-align: justify
}

.text-box{
  align-items: center; 
  justify-content: center;
  margin-top: 30px; 
  text-align: justify;
}

.text-title{
 text-align: center;
}